site_name: Cloud Optimized Geospatial Data Access 
site_url: https://nrcan.github.io/cloud-optimized-geospatial/
repo_url: https://github.com/NRCan/cloud-optimized-geospatial
repo_name: NRCan/cloud-optimized-geospatial
copyright: <a href="https://open.canada.ca/en/open-government-licence-canada"> Open Government Licence - Canada</a>

site_dir: public

# docs_dir: .

theme:
  # name: readthedocs
  name: material
  features:
    - content.code.copy
    - search.highlight
    - navigation.path
    - navigation.top
    - navigation.footer
    - content.tooltips
    # - content.action.view # To see the source page, we don't want that
  #   - navigation.tabs
    # - navigation.indexes

extra:
  alternate:
    - name: English
      link: ./
      lang: en
    - name: Français
      link: ./fr/
      lang: fr

plugins:
  # - same-dir
  - search
  - i18n:
      docs_structure: folder
      fallback_to_default: true
      reconfigure_material: true
      reconfigure_search: true
      languages:
        - locale: en
          default: true
          name: English
          build: true
        - locale: fr
          name: Français
          build: true
          nav_translations:
            Home: Accueil
            How-to Guides: Guides pratiques
            STAC API: API STAC
            COG: COG
            Additionnal libraires: Bibliothèques supplémentaires
            External References: Références externes
            Additional Information: Informations supplémentaires
            Known Bugs: Bogues connus
  - mkdocstrings :
      handlers:
        # See: https://mkdocstrings.github.io/python/usage/
        # https://mkdocstrings.github.io/python/usage/configuration/docstrings/#docstring_options
        # https://mkdocstrings.github.io/griffe/docstrings/#examples_1
        python:
          options:
            docstring_style: numpy
            merge_init_into_class: True
            show_if_no_docstring: true
            # docstring_section_style: table
            # show_docstring_modules : False
  - git-revision-date-localized:
      enable_creation_date: true
  - git-committers:
      repository: NRCan/cloud-optimized-geospatial
      branch: main
      exclude_committers: 
        - web-flow
      # token: !ENV MKDOCS_GIT_COMMITTERS_APIKEY

markdown_extensions:
  - pymdownx.snippets # THIS IS SICK!!!! https://facelessuser.github.io/pymdown-extensions/extensions/snippets/
  # https://squidfunk.github.io/mkdocs-material/reference/code-blocks/
  - attr_list
  - md_in_html
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.superfences # For the colors in the python codeblocks
  # - pymdownx.details
  - admonition
  - pymdownx.emoji
  - abbr
  - toc:
      permalink: true
  # - footnotes

nav:
  - Home : index.md
  # - readme : README.md
  - How-to Guides : 
    - STAC API : pystac-client.md
  # - Interact with COGs
    - COG : example-cogs.md
    - Additionnal libraires : pystac-into-xarray.md
    # - Other : docs/index.md
  - External References : reference.md
  - Additional Information :
    - Known Bugs : reorder-transform-example.md
      # - FAQ
